@import 'pages/variables';

.SearchBar{
  display: flex;
  width: 100%;
  z-index: 0;
  position: fixed;
  top: 2.4rem;
  font-size: 1.2rem;
  box-shadow: $box-shadow;
  background-color: var(--bg-color-broken);
  color: var(--font-color-broken);

  button {
    border: 0;
    outline: none;
    color: $color-white;
    padding: .4rem;
    font-size: inherit;
    cursor: pointer;
    width:100%;
    background-color: var(--primary-color);
  }
}
