@import '../variables';
.article {

  display: grid;
  max-width: $size-limit-small;
  margin: auto;

  h1, h2, h3, h4 {
    font-weight: lighter;
  }

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  img {
    margin: 1rem 0;
    width: 100%;
    max-width: $size-limit-small;
  }

  a {
    color: var(--primary-color);
  }


  blockquote{
    font-size: 1rem;
    margin:50px auto;
    width: 100%;

    font-style:italic;
    color: var(--font-color-broken);
    padding:.4rem 30px .4rem 75px;
    border-left:8px solid var(--primary-color) ;
    line-height:1.6;
    position: relative;
    background:var(--bg-color-broken);
  }

  blockquote::before{
    content: "\201C";
    color:var(--primary-color);
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }

  blockquote::after{
    content: '';
  }

  pre {
    @media (max-width: $size-limit-small) {
      width: 94vw;
    }
    width: 100%;
  }

}
