article {

  max-width: 720px;
  margin: auto;

  h1, h2, h3, h4 {
    font-weight: lighter;
  }

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}
