@import 'src/pages/variables';

.TypeFilter{
  position: relative;
  width: 7rem;
  ul {
    border-radius: 0 0 5px 0;
    list-style: none;
    width: 210px;
    padding: 1rem;
    margin: 0;
    position: absolute;
    top: 2.4rem;
    left: 0;
    box-shadow: $box-shadow;
    font-size: 1rem;
    transition: $time-transition box-shadow;
    &:hover {
      box-shadow: $box-shadow-hover;
    }

    &::before {
      content: "";
      width: 100%;
      height: .2rem;
      position: absolute;
      top: -.21rem;
      left:0;
      background-color: var(--primary-color);
    }

    background-color: var(--bg-color-broken);

    h3{
      font-weight: lighter;
      margin: 0 0 .8rem 0;
    }

    li{
      margin: .4rem 0;
    }

    label {
      position: relative;
      display: flex;
      input {
        display: none;
        &:checked + .checkbox {
          background-color: var(--primary-color);
          svg {
            opacity: 1;
          }
        }
      }

      .checkbox {
        color: $color-white;
        display:inline-block;
        width: 1rem;
        height: 1rem;
        background-color: var(--bg-color);
        transition: $time-transition background-color;
        margin: .2rem .8rem .2rem .2rem;

        svg {
          opacity: 0;
          position: absolute;
          transition: $time-transition opacity;
        }
      }
    }
  }
}
