@import 'pages/variables';

.image-wrapper {
  width: 320px;
  img {
    width: 100%;
    border-radius: 100%;
  }
}

.LinkButton {
  padding: 1rem;
  font-size: 2rem;
  transition: $time-transition;
  background-color: var(--primary-color);
  color: var(--font-color-light);

  &:hover {
    background-color: var(--primary-color-broken);
  }
}
