@import 'pages/variables';

.image-wrapper {
  width: 320px;
  img {
    width: 100%;
    border-radius: 100%;
  }
}

.LinkButton {
  padding: 1rem;
  font-size: 2rem;
  transition: $time-transition;
  @media (prefers-color-scheme: light) {
    background-color: $color-blue;
    color: $color-white;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $color-pink;
    color: $color-white;
  }

  &:hover {
    @media (prefers-color-scheme: light) {
      background-color: $color-blue-broken;
    }
    @media (prefers-color-scheme: dark) {
      background-color: $color-pink-broken;
    }
  }
}
