$color-black: #18191A;
$color-black-broken: #242526;
$color-white: #FFFFFF;
$color-white-broken: #F0F2F5;
$color-blue: #0070f3;
$color-pink: #e3097d;

$size-limit-small: 768px;
$size-limit-medium: 992px;
$size-limit-large: 1200px;
$size-limit-large: 1200px;
$size-limit-extra-large: 1600px;
