@import 'src/pages/variables';

.intro {
  display: flex;
  text-align: left;
  h2{
    font-size: 1.6rem;
    font-weight: lighter;
    span {
      color: var(--primary-color);
    }
  }
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.adjectives {
  font-size: 2rem;
  font-weight: lighter;

  ul{
    display: flex;
    padding: 0;
    flex-direction: column;
    text-align: center;

    @media (min-width: $size-limit-medium){
      flex-direction: row;
    }

    li {
      list-style: none;
      margin: 0 1rem;
      h3{
        margin: 0;
        font-weight: inherit;
        font-size: inherit;
      }

    }
  }

}

.imageWrapper {
  width: 320px;

  img {
    width: 100%;
    border-radius: 100%;
    box-shadow: $box-shadow;
    transition: $time-transition box-shadow;
    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }
}

.LinkButton {
  padding: 1rem;
  font-size: 2rem;
  transition: $time-transition;
  background-color: var(--primary-color);
  color: var(--font-color-light);

  &:hover {
    background-color: var(--primary-color-broken);
  }
}
