:root {
    --color-black: #18191A;
    --color-black-broken: #242526;
    --color-black-alpha: #18191A99;
    --color-white: #FFFFFF;
    --color-white-broken: #F0F2F5;
    --color-white-alpha: #FFFFFF99;
    --color-blue: #0070f3;
    --color-blue-broken: #328cf5;
    --color-green: #37A494;
    --color-green-broken: #5EB6A9;
    --color-pink: #e3097d;
    --color-pink-broken: #e83a97;

    --time-transition: .5s;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: color var(--time-transition), background-color var(--time-transition);
}

* {
    box-sizing: border-box;
}

:root,
[data-theme="light"],
.light {
    --font-color: var(--color-black);
    --font-color-broken: var(--color-black-broken);
    --font-color-light: var(--color-white);
    --primary-color:var(--color-blue);
    --primary-color-broken:var(--color-blue-broken);
    --bg-color: var(--color-white);
    --bg-color-broken: var(--color-white-broken);
    --bg-color-alpha: var(--color-white-alpha);
}

[data-theme="dark"],
.dark {
    --font-color: var(--color-white);
    --font-color-broken: var(--color-white-broken);
    --font-color-light: var(--color-white);
    --primary-color:var(--color-green);
    --primary-color-broken:var(--color-green-broken);
    --bg-color: var(--color-black);
    --bg-color-broken: var(--color-black-broken);
    --bg-color-alpha: var(--color-black-alpha);
}
